#ticket_form {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    color: dimgray;
    width: 340px;
    border: 1px solid lightgray;
    padding: 0 8px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px 0 0;
}

form ul {
    list-style-type: none;
    padding-left: 0;
}

form li {
    margin: 0 0 6px 0;
}

textarea {
    vertical-align: top;
    border-color: lightgray;
}

.field {
    width: 100%;
}
.register {
    font-size: 8pt;
    color: gray;
    padding: 8px 0;
}

 input.field[type="date"]:before {
    content: attr(placeholder) !important;
    color: red;
    margin-right: 0.5em;
  }
 input.field[type="date"]:focus:before,
 input.field[type="date"]:valid:before {
    content: "" !important;
     
  }